<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>     
  <session-factory>
    <property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="connection.url">jdbc:oracle:thin:@localhost:1521/xe:DBLIB</property>
    <property name="connection.username">USERLIB</property>
    <property name="connection.password">USERPASS</property>
    <property name="dialect">org.hibernate.dialect.Oracle8iDialect</property>
    <property name="hbm2ddl.auto">create</property>
     
    <property name="show_sql">true</property>
         
    <mapping class="Library.Dto.java.DTOAccount.AccountBase"/>
      
  </session-factory>
</hibernate-configuration>